storage_benchmarks:
  copy_throughput:
    - scp
  test:
network_benchmarks:
  - iperf
compute_benchmarks:
  - iperf
application_benchmarks:
  - iperf
common:
  num_vms: 5
  data_disk_size: 20
  aerospike_storage_type: disk
  json_path: /opt/results/
Azure:
  flavor_name: Standard_A1_v2
  machine_type: Standard_A1_v2
  zones: uksouth
  cloud_provider: Azure
  cloud: Azure
AWS-UK:
  flavor_name: t2.small
  machine_type: t2.small
  zones: eu-west-2
  cloud_provider: AWS-UK
  cloud: AWS
AWS-US:
  flavor_name: t2.small
  machine_type: t2.small
  zones: eu-east-1
  cloud_provider: AWS-US
  cloud: AWS
OpenStack:
  flavor_name: t1.small
  machine_type: t1.small
  zones: 0000c-1
  cloud_provider: UKCloud-OpenStack
  cloud: OpenStack
VMware:
  flavor_name: Tiny
  machine_type: Tiny
  zones:
  cloud_provider: UKCloud-vCloud
  cloud:
Google:
  flavor_name: g.small
  machine_type: '{ cpus: 1, mem: 1 }'
  zones: europe-west2-a
  cloud_provider: Google
  cloud: GCP
