benchmarks:
#  storage_benchmarks:
#    aerospike:
#    cassandra_stress:
#    mongodb_ycsb:
#    sysbench_oltp:
#    fio:
#    block_storage_workload:
#      workload_mode:
#        - logging
#        - database
#        - streaming
#    oldisim:
#    unixbench:
  network_benchmarks:
    iperf:
#    copy_throughput:
#      copy_benchmark_mode:
#        - scp
#        - dd
#        - cp
#  compute_benchmarks:
#    hpcc:
#    mesh_network:
#    oldisim:
#    redis:

core_config:
  json_path: /opt/results/
  log_path: /opt/logs/
  perfkit_path: /opt/PerfKitBenchmarker/

common_config:
  num_vms: 5
  data_disk_size: 20
  aerospike_storage_type: disk

cloud_config:
  Azure:
    flavor_name: Standard_A1_v2
    options:
      machine_type: Standard_A1_v2
      zones: uksouth
      cloud: Azure
    storage_tiers:
    environment:
  AWS-UK:
    flavor_name: t2.small
    options:
      machine_type: t2.small
      zones: eu-west-2
      cloud: AWS
    storage_tiers:
    environment:
  AWS-US:
    flavor_name: t2.small
    options:
      machine_type: t2.small
      zones: eu-east-1
      cloud: AWS
    storage_tiers:
    environment:
  OpenStack:
    flavor_name: t1.small
    options:
      machine_type: t1.small
      zones: 0000c-1
      cloud: OpenStack
      image: '"Ubuntu 14.04 amd64"'
      openstack_network: perfkit_net
      openstack_volume_size: 20
      ip_addresses: INTERNAL 
    storage_tiers:
      - 
        openstack_volume_type: TIER1
      -
        openstack_volume_type: TIER2
    environment: /home/ubuntu/openstack_rc.sh
  VMware:
    flavor_name: Tiny
    options:
      machine_type: Tiny
      zones:
      cloud:
    storage_tiers:
    environment:
  Google:
    flavor_name: g.small
    options:
      machine_type: '"{ cpus: 1, memory: 2GiB }"'
      zones: europe-west2-a
      cloud: GCP
    storage_tiers:
    environment:
